# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|Zeppelin Notebooks| 
|R Studioâ€™s        |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
Adryan Hermawan